{% extends "globalbiz/base.html" %}

{% load static %}

{% block title %} Test {% endblock title %}


{% block content  %}

<div class="row">
    {% for electronic, product in zip(electronics, products) %})
     <div class="col-lg-4">
        <a href="#"><img class="card-img-top" src="{{product.image.url}}" alt="" height="150" width="70"></a>
       <p>{{.product.title}}</p>
       <p>KSHS {{ product.price }}</p>
       <p>{{product.description}}</p>
       <p><a class="btn btn-lg btn-primary" href="#" role="button">Add to cart</a></p>
    </div><!-- /.col-sm-3 -->
    {% endfor %}

   </div><!-- /.container -->

   {% endblock content %}



