{% extends "globalbiz/base.html" %}

{% load static %}

{% block title %} {{newProducts.name}} {% endblock title %}


{% block hero %} 
<section class="hero-area bg-1 text-center overly">
	<!-- Container Start -->
	<div class="container">
		<h1 class="font-weight-bold white-text">{{newProducts.name}}</h1>
	</div>
	<!-- Container End -->
</section>
{% endblock hero %}

{% block content %}

<!--===========================================
=            Popular deals section            =
============================================-->

<section class="popular-deals section bg-gra">
	<div class="container">
			<div class="row">
					<div class="col-md-12">
						<div class="section-title">
							<h2>New</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, magnam.</p>
						</div>
					</div>
				</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="trending-ads-slide">
							{% for new in new_products_with_category %}
							<div class="col-sm-12 col-lg-4">
								<div class="product-item bg-light">
									<div class="card">
										<div class="thumb-content">
											<a href="{% url 'product-detail' pk=new.id %}">
												<img class="card-img-top img-fluid" src="{{new.image.url}}" alt="">
											</a>
										</div>
										<div class="card-body">
											<h4 class="card-title"><a href="{% url 'product-detail' pk=new.id %}">{{new.title}}</a></h4>
											<ul class="list-inline product-meta">
												<li class="list-inline-item">
													<a href="#"><i class="fa fa-folder-open-o"></i>{{new.category.name}}</a>
												</li>
												<li class="list-inline-item">
													<a href="#"><i class="fa fa-folder-open-o"></i>{{new.rating.name}}</a>
												</li>
											</ul>
											<p class="card-text">{{new.description}}</p>
											<h4 class="font-weight-bold blue-text">
												{% if new.discount_price %}
												<span class="mr-1">
													<del>Kshs {{ new.price }}</del>
												</span>
												<span>Kshs {{ new.discount_price }}</span>
												{% else %}
												<span>Kshs {{ new.price }}</span>
												{% endif %}
											</h4>
											<a href="{% url 'product-detail' pk=new.id %}" class="btn btn-primary">View Details</a>
										</div>		
									</div>	
								</div>		
							</div>
							{% endfor %}	
					</div>				
				</div>	
			</div>
	</div>
</section>

<section class="popular-deals section bg-gra">
	<div class="container">
			<div class="row">
					<div class="col-md-12">
						<div class="section-title">
							<h2>Offers</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, magnam.</p>
						</div>
					</div>
				</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="trending-ads-slide">
							{% for offer in offer_products_with_category %}
							<div class="col-sm-12 col-lg-4">
								<div class="product-item bg-light">
									<div class="card">
										<div class="thumb-content">
											<a href="{% url 'product-detail' pk=offer.id %}">
												<img class="card-img-top img-fluid" src="{{offer.image.url}}" alt="">
											</a>
										</div>
										<div class="card-body">
											<h4 class="card-title"><a href="{% url 'product-detail' pk=offer.id %}">{{offer.title}}</a></h4>
											<ul class="list-inline product-meta">
												<li class="list-inline-item">
													<a href="#"><i class="fa fa-folder-open-o"></i>{{offer.category.name}}</a>
												</li>
												<li class="list-inline-item">
													<a href="#"><i class="fa fa-folder-open-o"></i>{{offer.rating.name}}</a>
												</li>
											</ul>
											<p class="card-text">{{offer.description}}</p>
											<h4 class="font-weight-bold blue-text">
												{% if offer.discount_price %}
												<span class="mr-1">
													<del>Kshs {{ offer.price }}</del>
												</span>
												<span>Kshs {{ offer.discount_price }}</span>
												{% else %}
												<span>Kshs {{ offer.price }}</span>
												{% endif %}
											</h4>
											<a href="{% url 'product-detail' pk=offer.id %}" class="btn btn-primary">View Details</a>
										</div>		
									</div>	
								</div>		
							</div>
							{% endfor %}	
					</div>				
				</div>	
			</div>
	</div>
</section>


{% endblock content %}