{% extends 'globalbiz/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			{% for product in 2newProducts %}
			<div class="hs-item set-bg" data-setbg="{{product.image.url}}">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>New Arrivals</span>
							<h2>{{product.title}}</h2>
							<p>{{product.description}} </p>
							<a href="{% url 'product-detail' pk=product.id %}" class="site-btn sb-line">DISCOVER</a>
							<a href="{{ product.get_add_to_cart_url }}" class="site-btn sb-white">ADD TO CART</a>
						</div>
					</div>
					<div class="product-card text-white">
						<span>from</span>
						<h2>Kshs {{product.price |intcomma}}</h2>
						<p>SHOP NOW</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="container">
			<div class="slide-num-holder" id="snh-1"></div>
		</div>
	</section>
	<!-- Hero section end -->

	<!-- Features section -->
	<section class="features-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="{% static 'globalbiz/img/icons/1.png' %}" alt="#">
						</div>
						<h2>Fast Secure Payments</h2>
					</div>
				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="{% static 'globalbiz/img/icons/2.png' %}" alt="#">
						</div>
						<h2>Premium Products</h2>
					</div>
				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="{% static 'globalbiz/img/icons/3.png' %}" alt="#">
						</div>
						<h2>Free & fast Delivery</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Features section end -->

	<!-- latest product section -->
	<section class="top-letest-product-section">
		<div class="container">
			<div class="section-title">
				<h2>LATEST PRODUCTS</h2>
			</div>
			<div class="product-slider owl-carousel">
				{% for newproduct in newProducts %}
				<div class="product-item">
					<div class="pi-pic">
						<a href="{% url 'product-detail' pk=newproduct.id %}">
							<img class="card-img-top img-fluid" src="{{newproduct.image.url}}" alt="" height="409" width="264">
						</a>
						<div class="pi-links">
							<a href="{{ newproduct.get_add_to_cart_url }}" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>
							{% if newproduct.discount_price %}
								<span class="mr-1">
									<del>Kshs {{ newproduct.price|intcomma }}</del>
								</span>
								<span>Kshs {{ newproduct.discount_price|intcomma }}</span>
							{% else %}
								<span>Kshs {{ newproduct.price|intcomma }}</span>
							{% endif %}
						</h6>
						<p>{{newproduct.title}} </p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- latest product section end -->

	<!-- Product filter section -->
	<section class="product-filter-section">
		<div class="container">
			<div class="section-title">
				<h2>BROWSE TOP SELLING PRODUCTS</h2>
			</div>
			<ul class="product-filter-menu">
				{% for category in categories %}
				<li><a href="{% url 'category-detail' pk=category.id %}">{{category.name}}</a></li>
				{% endfor %}
			</ul>
			<div class="row">
				{% for product in products %}
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<div class="tag-new">{{product.rating}}</div>
							<a href="{% url 'product-detail' pk=product.id %}">
								<img class="card-img-top img-fluid" src="{{product.image.url}}" alt="" height="409" width="264">
							</a>
							<div class="pi-links">
								<a href="{{ product.get_add_to_cart_url }}" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>
								{% if product.discount_price %}
								<span class="mr-1">
									<del>Kshs {{ product.price|intcomma }}</del>
								</span>
								<span>Kshs {{ product.discount_price|intcomma }}</span>
								{% else %}
								<span>Kshs {{ product.price|intcomma }}</span>
								{% endif %}
							</h6>
							<p>{{product.title}} </p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="text-center pt-5">
				<button class="site-btn sb-line sb-dark">LOAD MORE</button>
			</div>
		</div>
	</section>
	<!-- Product filter section end -->


	<!-- Banner section -->
	<section class="banner-section">
		<div class="container">
			<div class="banner set-bg" data-setbg="{{newProduct.image.url}}">
				<div class="tag-new">{{newProduct.rating}}</div>
				<span>New Arrivals</span>
				<h2>{{newProduct.title}}</h2>
				<a href="{{ newProduct.get_add_to_cart_url }}" class="site-btn">SHOP NOW</a>
			</div>
		</div>
	</section>
	<!-- Banner section end  -->

	{% endblock content %}
