{% extends "globalbiz/base.html" %}

{% load static %}

{% block title %} Home Global Biz {% endblock title %}

{% block hero %}
<!--===============================
=            Hero Area            =
================================-->

<section class="hero-area bg-1 text-center overly">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Header Contetnt -->
				<div class="content-block">
					<h1>Your Global Store </h1>
					<p>Join our Global Goods Online Shop <br> For the most affordable quality goods</p>
					<div class="short-popular-category-list text-center">
						<h2>Popular Category</h2>
						<ul class="list-inline">
							{% for category in categories %}
							<li class="list-inline-item">
								<a href="category.html"><i class="fad fa-circle"></i> {{category.name}}</a>
							</li>
							{% endfor %}
						</ul>
					</div>	
				</div>
				
				<!-- Advance Search -->
				<div class="advance-search">
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-lg-12 col-md-12 align-content-center">
										<form>
											<div class="form-row">
												<div class="form-group col-md-4">
													<input type="text" class="form-control my-2 my-lg-1" id="inputtext4" placeholder="What are you looking for">
												</div>
												<div class="form-group col-md-3">
													<select class="w-100 form-control mt-lg-1 mt-md-2">
														<option>Category</option>
														<option value="1">Top rated</option>
														<option value="2">Lowest Price</option>
														<option value="4">Highest Price</option>
													</select>
												</div>
												<div class="form-group col-md-3">
													<input type="text" class="form-control my-2 my-lg-1" id="inputLocation4" placeholder="Location">
												</div>
												<div class="form-group col-md-2 align-self-center">
													<button type="submit" class="btn btn-primary">Search Now</button>
												</div>
											</div>
										</form>
									</div>
								</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>
{% endblock hero %}

{% block content %}
<!--===================================
=            Client Slider            =
====================================-->


<!--===========================================
=            Popular deals section            =
============================================-->

<section class="popular-deals section bg-gra">
	<div class="container">
			<div class="row">
					<div class="col-md-12">
						<div class="section-title">
							<h2>New Products</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, magnam.</p>
						</div>
					</div>
				</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="trending-ads-slide">
							{% for newproduct in newProducts %}
							<div class="col-sm-12 col-lg-4">
								<div class="product-item bg-light">
									<div class="card">
										<div class="thumb-content">
											<a href="{{newproduct.title}}">
												<img class="card-img-top img-fluid" src="{{newproduct.image.url}}" alt="">
											</a>
										</div>
										<div class="card-body">
											<h4 class="card-title"><a href="{{newproduct.title}}">{{newproduct.title}}</a></h4>
											<ul class="list-inline product-meta">
												<li class="list-inline-item">
													<a href="single.html"><i class="fa fa-folder-open-o"></i>{{newproduct.category}}</a>
												</li>
												<li class="list-inline-item">
													<a href="#"><i class="fa fa-folder-open-o"></i>New</a>
												</li>
											</ul>
											<p class="card-text">{{newproduct.description}}</p>
											<h4 class="font-weight-bold blue-text">
												<strong>Kshs {{newproduct.price}}</strong>
											</h4>
											<a href="{{newproduct.title}}" class="btn btn-primary">View Details</a>
										</div>		
									</div>	
								</div>		
							</div>
							{% endfor %}	
					</div>				
				</div>	
			</div>
	</div>
</section>

<section class="popular-deals section bg-gra">
	<div class="container">
			<div class="row">
					<div class="col-md-12">
						<div class="section-title">
							<h2>Amazing Offers</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, magnam.</p>
						</div>
					</div>
				</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="trending-ads-slide">
							{% for offer in offers %}
							<div class="col-sm-12 col-lg-4">
								<div class="product-item bg-light">
									<div class="card">
										<div class="thumb-content">
											<a href="{{offer.title}}">
												<img class="card-img-top img-fluid" src="{{offer.image.url}}" alt="">
											</a>
										</div>
										<div class="card-body">
											<h4 class="card-title"><a href="single.html">{{offer.title}}</a></h4>
											<ul class="list-inline product-meta">
												<li class="list-inline-item">
													<a href="single.html"><i class="fa fa-folder-open-o"></i>{{offer.category}}</a>
												</li>
												<li class="list-inline-item">
													<a href="#"><i class="fa fa-folder-open-o"></i>Offers</a>
												</li>
											</ul>
											<p class="card-text">{{offer.description}}</p>
											<h4 class="font-weight-bold blue-text">
												<strong>Kshs {{offer.price}}</strong>
											</h4>
											<a href="#" class="btn btn-primary">View Details</a>
										</div>		
									</div>	
								</div>		
							</div>
							{% endfor %}	
					</div>				
				</div>	
			</div>
	</div>
</section>

<!--==========================================
=            All Category Section            =
===========================================-->

<section class="section">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Section title -->
				<div class="section-title">
					<h2>All Categories</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, provident!</p>
				</div>
				<div class="row">
					<!-- Category list -->
					{% for category in categories %}
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
						<div class="category-block">
							<div class="header">
								<i class="fad fa-circle icon-bg-1"></i>
								<h4>{{category.name}}</h4>
							</div>
							<ul class="category-list" >
								<li><a href="category.html">Laptops <span>93</span></a></li>
								<li><a href="category.html">Iphone <span>233</span></a></li>
								<li><a href="category.html">Microsoft  <span>183</span></a></li>
								<li><a href="category.html">Monitors <span>343</span></a></li>
							</ul>
						</div>
					</div> <!-- /Category List -->	
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>


<!--====================================
=            Call to Action            =
=====================================-->
{% endblock content %}