{% load static %}
{% load cart_template_tags %}

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
					<a class="navbar-brand" href="{% url 'globalbiz-home' %}">
						<img src="{% static 'globalbiz/images/gb.png' %}" alt="" height="70" width="100">
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto main-nav ">
							<li class="nav-item active">
								<a class="nav-link" href="{% url 'globalbiz-home' %}">Home</a>
							</li>
							<li class="nav-item dropdown dropdown-slide">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">Account<span><i class="fa fa-angle-down"></i></span>
								</a>

								<!-- Dropdown list -->
								<div class="dropdown-menu">
									{% if not user.is_authenticated %}
									<a class="dropdown-item" href="{% url 'register' %}">Register</a>
									<a class="dropdown-item" href="{% url 'login' %}">Login</a>
									{% else %}
									<a class="dropdown-item" href="#">Orders</a>
									<a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
									{% endif %}
								</div>
							</li>
							<li class="nav-item dropdown dropdown-slide">
								<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Pages <span><i class="fa fa-angle-down"></i></span>
								</a>
								<!-- Dropdown list -->
								<div class="dropdown-menu">
									<a class="dropdown-item" href="{% url 'about-us' %}">About Us</a>
									<a class="dropdown-item" href="{% url 'contact' %}">Contact Us</a>
								</div>
							</li>
							<li class="nav-item dropdown dropdown-slide">
								<a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Services <span><i class="fa fa-angle-down"></i></span>
								</a>
								<!-- Dropdown list -->
								<div class="dropdown-menu">
									<a class="dropdown-item" href="{% url 'how-to-shop' %}">How To Shop</a>
									<a class="dropdown-item" href="{% url 'how-to-pay' %}">How To Pay</a>
									<a class="dropdown-item" href="{% url 'delivery-timeline' %}">Delivery Timeline</a>
									<a class="dropdown-item" href="{% url 'returns-refunds' %}">Returns & Refunds</a>
								</div>
							</li>
						</ul>
						<ul class="navbar-nav ml-auto mt-10">
							<li class="nav-item">
								{% if not user.is_authenticated %}
								<a class="btn btn-primary" href="{% url 'login' %}">Login</a>
								{% else %}
								<a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
							</li>
							<li class="nav-item">
								<a href="{% url 'order-summary' %}" class="nav-link waves-effect">
								  <span class="badge red z-depth-1 mr-1"> {{ request.user|cart_product_count }}</span>
								  <i class="fas fa-shopping-cart"></i>
								  <span class="clearfix d-none d-sm-inline-block"> Cart </span>
								</a>
							</li>
							{% endif %}
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</section>
