{% extends "globalbiz/base.html" %}

{% block hero %} 
<div class="container">
    <h1>Order Summary</h1>
</div>
{% endblock hero %}

{% block content %}
  <main>
    <div class="container">

    <div class="table-responsive text-nowrap">
    <h2>Order Summary</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product title</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total product Price</th>
        </tr>
        </thead>
        <tbody>
        {% for order_product in object.products.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order_product.product.title }}</td>
            <td>{{ order_product.product.price }}</td>
            <td>
                <a href="{% url 'remove-single-product-from-cart' order_product.product.pk %}"><i class="fas fa-minus mr-2"></i></a>
                {{ order_product.quantity }}
                <a href="{% url 'add-to-cart' order_product.product.pk %}"><i class="fas fa-plus ml-2"></i></a>
            </td>
            <td>
            {% if order_product.product.discount_price %}
                ${{ order_product.get_total_discount_product_price }}
                <span class="badge badge-primary">Saving Kshs {{ order_product.get_amount_saved }}</span>
            {% else %}
                ${{ order_product.get_total_product_price }}
            {% endif %}
            <a style='color: red;' href="{% url 'remove-from-cart' order_product.product.pk %}">
                <i class="fas fa-trash float-right"></i>
            </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='5'>Your cart is empty</td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
            </td>
        </tr>
        {% endfor %}
        {% if object.coupon %}
        <tr>
            <td colspan="4"><b>Coupon</b></td>
            <td><b>-${{ object.coupon.amount }}</b></td>
        </tr>
        {% endif %}
        {% if object.get_total %}
        <tr>
            <td colspan="4"><b>Order Total</b></td>
            <td><b>${{ object.get_total }}</b></td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-warning float-right ml-2' href='/checkout/'>Proceed to checkout</a>
            <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    </div>

    </div>
  </main>

{% endblock content %}


