
{% extends "globalbiz/base.html" %}

{% load static %}

{% block title %} {{product.title}} {% endblock title %}


{% block hero %} 
<section class="hero-area bg-1 text-center overly">
	<!-- Container Start -->
	<div class="container">
		<h1 class="font-weight-bold white-text">{{product.title}}</h1>
	</div>
	<!-- Container End -->
</section>
{% endblock hero %}

{% block content %}
<div class="container">
    <aside>
        <img src="{{product.image.url}}" alt="">
        <h1 class="font-weight-bold blue-text">{{product.title}}</h1>
        <h4 class="font-weight-bold blue-text">
                {% if product.discount_price %}
                <span class="mr-1">
                    <del>Kshs {{ product.price }}</del>
                </span>
                <span>Kshs {{ product.discount_price }}</span>
                {% else %}
                <span>Kshs {{ product.price }}</span>
                {% endif %}
        </h4>
    </aside>

<section>
        <p>{{product.description}}</p>
        <a href="#" class="btn btn-primary">Add To Cart</a>
</section>

</div>    

{% endblock content %}