{% extends "globalbiz/base.html" %}

{% load static %}

{% block title %} {{jeep.title}} {% endblock title %}


{% block hero %} 
<section class="hero-area bg-1 text-center overly">
	<!-- Container Start -->
	<div class="container">
		<h1 class="font-weight-bold white-text">{{jeep.title}}</h1>
	</div>
	<!-- Container End -->
</section>
{% endblock hero %}

{% block content %}
<!--===================================
=            Client Slider            =
====================================-->


<!--===========================================
=            Popular deals section            =
============================================-->

<section class="popular-deals section bg-gra">
	<div class="container">
			<div class="row">
					<div class="col-md-12">
						<div class="section-title">
							<h2>New Furniture</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, magnam.</p>
						</div>
					</div>
				</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="trending-ads-slide">
							{% for nf in newFurn %}
							<div class="col-sm-12 col-lg-4">
								<div class="product-item bg-light">
									<div class="card">
										<div class="thumb-content">
											<a href="{{nf.title}}">
												<img class="card-img-top img-fluid" src="{{nf.image.url}}" alt="">
											</a>
										</div>
										<div class="card-body">
											<h4 class="card-title"><a href="{{nf.title}}">{{nf.title}}</a></h4>
											<ul class="list-inline product-meta">
												<li class="list-inline-item">
													<a href="single.html"><i class="fa fa-folder-open-o"></i>{{nf.category}}</a>
												</li>
												<li class="list-inline-item">
													<a href="#"><i class="fa fa-folder-open-o"></i>New</a>
												</li>
											</ul>
											<p class="card-text">{{nf.description}}</p>
											<h4 class="text-blue bg-light">
												Kshs {{nf.price}}
											</h4>
											<a href="{{nf.title}}" class="btn btn-primary">View Details</a>
										</div>		
									</div>	
								</div>		
							</div>
							{% endfor %}	
					</div>				
				</div>	
			</div>
	</div>
</section>

<section class="popular-deals section bg-gra">
	<div class="container">
			<div class="row">
					<div class="col-md-12">
						<div class="section-title">
							<h2>Amazing Offers Furniture</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, magnam.</p>
						</div>
					</div>
				</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="trending-ads-slide">
							{% for of in offerFurn %}
							<div class="col-sm-12 col-lg-4">
								<div class="product-item bg-light">
									<div class="card">
										<div class="thumb-content">
											<a href="{{of.title}}">
												<img class="card-img-top img-fluid" src="{{of.image.url}}" alt="">
											</a>
										</div>
										<div class="card-body">
											<h4 class="card-title"><a href="#">{{of.title}}</a></h4>
											<ul class="list-inline product-meta">
												<li class="list-inline-item">
													<a href="#"><i class="fa fa-folder-open-o"></i>{{of.category}}</a>
												</li>
												<li class="list-inline-item">
													<a href="#"><i class="fa fa-folder-open-o"></i>Offers</a>
												</li>
											</ul>
											<p class="card-text">{{of.description}}</p>
											<h4 class="font-weight-bold blue-text">
												<strong>Kshs {{of.price}}</strong>
											</h4>
											<a href="#" class="btn btn-primary">View Details</a>
										</div>		
									</div>	
								</div>		
							</div>
							{% endfor %}	
					</div>				
				</div>	
			</div>
	</div>
</section>

<!--==========================================
=            All Category Section            =
===========================================-->

<section class="section">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Section title -->
				<div class="section-title">
					<h2>All Categories</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, provident!</p>
				</div>
				<div class="row">
					<!-- Category list -->
					{% for category in categories %}
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
						<div class="category-block">
							<div class="header">
								<i class="fad fa-circle icon-bg-1"></i>
								<h4>{{category.name}}</h4>
							</div>
							<ul class="category-list" >
								<li><a href="category.html">Laptops <span>93</span></a></li>
								<li><a href="category.html">Iphone <span>233</span></a></li>
								<li><a href="category.html">Microsoft  <span>183</span></a></li>
								<li><a href="category.html">Monitors <span>343</span></a></li>
							</ul>
						</div>
					</div> <!-- /Category List -->	
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>


<!--====================================
=            Call to Action            =
=====================================-->
{% endblock content %}